<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listings</title>
    <link rel="stylesheet" th:href="@{/css/global.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/toast.css}">
    <link rel="stylesheet" th:href="@{/css/listings.css}">
    <script th:src="@{/js/toast.js}" defer></script>
    <script th:src="@{/js/listings.js}" defer></script>
    <script src="https://unpkg.com/@solana/web3.js@1.30.2/lib/index.iife.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>
<body>
    <ul class="notifications"></ul>
    <div th:insert="~{parts/_header.html :: header}"></div>
    <div id="overlay" style="display:none;"></div>
    <div id="popup" style="display:none;">
        <button id="close-popup" class="close-popup close-button">&times;</button>
        <h3 class="popup-name">New Product</h3>
        <hr>
        <form id="add-product-form" th:action="@{/api/products/new}" th:object="${product}" method="post">
            <p>Name:<span class="required-field-mark">*</span> <input type="text" placeholder="Your product name" th:field="*{name}" required/></p>
            <p>Description: <textarea placeholder="Something special?" th:field="*{description}"></textarea></p>
            <p>Type:<span class="required-field-mark">*</span>
            <div class="custom-select-wrapper" onclick="toggleDropdown()">
                <div class="custom-select">
                    <div class="custom-select__trigger"><span>Product type...</span>
                        <div class="arrow"></div>
                    </div>
                    <div class="custom-options"></div>
                </div>
            </div>
            </p>
            <input type="hidden" id="categoryId" th:field="*{categoryId}" required>
            <p>Price (SOL):<span class="required-field-mark">*</span> <input type="text" placeholder="For now it's free...lol" th:field="*{price}" required/></p>
            <p>Resource Link:<span class="required-field-mark">*</span> <input type="text" placeholder="What you want to sell?" th:field="*{resourceLink}" required/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
    </div>

    <div class="add-product product" id="add-product">
        <img src="/img/add.png" alt="add">
    </div>

    <div class="products-container loader" style="display: flex;">
        <div class="product">
            <div class="short-product-info">
                <div class="loader-spinner"></div>
            </div>
        </div>
        <div class="product">
            <div class="short-product-info">
                <div class="loader-spinner"></div>
            </div>
        </div>
        <div class="product">
            <div class="short-product-info">
                <div class="loader-spinner"></div>
            </div>
        </div>
        <div class="product">
            <div class="short-product-info">
                <div class="loader-spinner"></div>
            </div>
        </div>
        <div class="product">
            <div class="short-product-info">
                <div class="loader-spinner"></div>
            </div>
        </div>
        <div class="product">
            <div class="short-product-info">
                <div class="loader-spinner"></div>
            </div>
        </div>
    </div>

    <div class="products-container main-products-container"> </div>

</body>
</html>