.add-product {
    position: absolute;
    left: 3%;
}

.product {
    background-color: var(--secondary-color);
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    flex-direction: column;
}

.product img {
    height: 100px;
}

.products-container {
    left: 15%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 70%;
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 2px;
}

.short-product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 15px;
}

.short-product-info p {
    color: var(--text-color);
    margin: 0;
}

.short-product-info span {
    color: white;
}