<html lang="en">
<header>
    <div>
        <ion-icon id="menu" name="menu-outline"></ion-icon>
        <div id="side-menu" class="side-menu">
            <div class="menu-header">
                <img src="/img/logo.png" alt="logo"/>
                <button id="close-menu" class="close-button">&times;</button>
            </div>
            <div class="side-menu-element">
                <ion-icon name="storefront-outline"></ion-icon>
                <a href="/">Marketplace</a>
            </div>
            <div class="side-menu-element">
                <ion-icon name="pricetags-outline"></ion-icon>
                <a href="/my-listings">My Listings</a>
            </div>
            <hr>
        </div>

        <img id="logo" src="/img/logo.png" alt="logo"/>
        <a class="profile-href" id="profile"></a>
    </div>
    <div class="profile-balance" id="profile-balance">
        <span id="balance">Connect Wallet</span>
        <img id="profile-img" src="/img/jellyfish.png" alt="profile"/>
    </div>
    <div id="wallet-info" class="wallet-info side-menu">
        <div class="menu-header">
            <img src="/img/jellyfish.png" alt="jellyfish"/>
            <button id="close-info" class="close-button">&times;</button>
        </div>
        <div class="wallet-info-element side-menu-element">
            <ion-icon name="wallet-outline"></ion-icon>
            <span id="wallet-short-info"></span>
        </div>
        <div class="wallet-info-disconnect">
            <ion-icon name="log-out-outline"></ion-icon>
            <span id="disconnect-wallet">Disconnect</span>
        </div>
    </div>

    <script src="/js/solana.js"></script>
    <script src="/js/header.js"></script>
</header>